<ng-container *ngIf='compareList.length > 0; else ImageUploadForm'>
  <div *ngFor='let compareItem of compareList; index as i'>
    before image
    <img [src]='compareItem.inputDataUrl' [alt]='"upload image" + i' />
    <img [src]='compareItem.resizedDataUrl' [alt]='"resized image" + i' />
  </div>
</ng-container>
<ng-template #ImageUploadForm>
  <label class='flex w-1/3 h-40 mt-2 justify-center items-center border border-gray-800 border-dashed'>
    画像アップロード
    <input class='hidden' type='file' accept='image/svg+xml,image/gif,image/jpeg,image/png' multiple
           (change)='onChangeImage($event)'>
  </label>
</ng-template>
